.kwicks {
    background: none repeat scroll 0 0 #131211;
}
.kwicks.horizontal li{
  /* (must be pixel) */
  /* total width of collapsed kwiks = (width * elements) + (spacing * elements-1) */
  width: 89px;
  height: 300px; /*based on 400x300 images */
  opacity: 0.7;
}
.kwicks.vertical li {
  /* (must be pixel) */
  /* total height of collapsed kwiks = (height * elements) + (spacing * elements-1) */
  height: 50px;
  width: 400px; /*based on 400x300 images */
  opacity: 0.7;
}
.kwicks li.active {
  opacity: 1;
}
.kwicks li.kwick-panel .views-field-title {
  bottom: 0;
  color: #717B67;
  display: none;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 30px;
  padding: 0;
  position: absolute;
  text-align: right;
  /* text-transform: uppercase; */
  width: 100%;
}
.kwicks li.kwick-panel .views-field-title .field-content {
 margin-right: 10px; 
}
.kwicks li.kwick-panel .views-field-title-1 {
  background: url("/sites/all/themes/corolla/images/slide_bg_strong.png") repeat scroll 0 0 transparent;
  bottom: 0;
  color: #FFAAAA;
  display: none;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  left: 0;
  line-height: 30px;
  padding: 0;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.kwicks li.kwick-panel .views-field-title-1 .field-content {
 margin-left: 10px; 
}
.kwicks li.kwick-panel .views-field-body {
  bottom: 0;
  color: #FFFFFF;
  display: none;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 12px;
  left: 0;
  line-height: 0px;
  padding: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}
.kwicks li.kwick-panel .views-field-body .field-content {
 margin-left: 10px; 
}
.kwicks li.kwick-panel .views-field-body .field-content a {
  border: 0 none;
  color: #FFFFFF;
}
.kwicks li.kwick-panel .views-field-body .field-content a:hover {
  border: 0 none;
  color: #E25401;
}